*~
*.o
*.a
*.ilk
*.pdb
/*.mex*
/*.m
/*.exe
/GNUmakefile
/GNUmakefile.bak
/PetscMakefile
/config.log
/config.cache
/config.status
/ooqp-ampl
/README
/INSTALL
/README_Matlab
/Templates.DB
/COPYRIGHT
/README_Windows
