<launch>
  <node pkg="surfel_fusion" type="surfel_fusion" name="surfel_fusion" clear_params="true" output="screen">

    <!-- camera parameter -->
    <param name="cam_width"  value="640" />
    <param name="cam_height" value="480" />

    <!--input image info-->
    <param name="cam_fx" value="385.27850341796875" />
    <param name="cam_fy" value="385.27850341796875" />
    <param name="cam_cx" value="319.3750915527344" />
    <param name="cam_cy" value="241.12330627441406" />

    <param name="ric00" value="-4.9876902235101994e-03" />
    <param name="ric01" value="6.8975396706592029e-03" />
    <param name="ric02" value="9.9996377279015758e-01" />

    <param name="ric10" value="-9.9994520639236018e-01" />
    <param name="ric11" value="-9.2379465278691342e-03" />
    <param name="ric12" value="-4.9238762056141860e-03" />

    <param name="ric20" value="9.2036492313802842e-03" />
    <param name="ric21" value="-9.9993353993674983e-01" />
    <param name="ric22" value="6.9432377451592586e-03" />

    <param name="tic0" value="0.06" />
    <param name="tic1" value="0.0" />
    <param name="tic2" value="0.03" />

    <!-- fusion parameter, all in meter -->
    <param name="fuse_far_distence"  value="3.0" />
    <param name="fuse_near_distence" value="0.1" />

    <!-- for deform the map -->
    <param name="drift_free_poses" value="300" />

    <!-- for data save -->
    <remap from="~image" to="/camera/infra1/image_rect_raw" />
    <remap from="~depth" to="/camera/depth/image_rect_raw" />
    <remap from="~loop_path" to="/loop_fusion/pose_graph_path" />
    <remap from="~extrinsic_pose" to="/vins_estimator/extrinsic" />
  </node>

  <node pkg="map_server" type="map_server" name="map_server">
      <param name="save_name" value="$(find surfel_fusion)/model" />
  </node>
</launch>
