<launch>
  <node pkg="surfel_fusion" type="surfel_fusion" name="surfel_fusion" clear_params="true" output="screen">

    <!-- camera parameter -->
    <param name="cam_width"  value="640" />
    <param name="cam_height" value="480" />

    <!--input image info-->
    <param name="cam_fx" value="3.8445808939187248e+02" />
    <param name="cam_fy" value="3.8398275569654390e+02" />
    <param name="cam_cx" value="3.2247735741936430e+02" />
    <param name="cam_cy" value="2.3707634648111778e+02" />

    <param name="ric00" value=" 1.8164816281258656e-03" />
    <param name="ric01" value=" -6.3177130219012612e-03" />
    <param name="ric02" value=" 9.9997839321490711e-01" />

    <param name="ric10" value="-9.9993170493633965e-01" />
    <param name="ric11" value="-1.1556213348783206e-02" />
    <param name="ric12" value=" 1.7433864008152278e-03" />

    <param name="ric20" value=" 1.1544949441198271e-02" />
    <param name="ric21" value="-9.9991326645625134e-01" />
    <param name="ric22" value="-6.3382732025270005e-03" />

    <param name="tic0" value="4.5276582907576739e-02" />
    <param name="tic1" value="1.3182794321427079e-02" />
    <param name="tic2" value="1.3591235430469647e-03" />

    <!-- fusion parameter, all in meter -->
    <param name="fuse_far_distence"  value="3.0" />
    <param name="fuse_near_distence" value="0.1" />

    <!-- for deform the map -->
    <param name="drift_free_poses" value="300" />

    <!-- for data save -->
    <remap from="~image" to="/camera/infra1/image_rect_raw" />
    <remap from="~depth" to="/camera/depth/image_rect_raw" />
    <remap from="~loop_path" to="/loop_fusion/pose_graph_path" />
    <remap from="~extrinsic_pose" to="/vins_estimator/extrinsic" />
  </node>

  <node pkg="map_server" type="map_server" name="map_server">
      <param name="save_name" value="$(find surfel_fusion)/model" />
  </node>
</launch>