<launch>

<arg name="map_size_x" default="20.0"/>
<arg name="map_size_y" default="20.0"/>
<arg name="map_size_z" default="2.0"/>

<arg name="init_x" default="0.0"/>
<arg name="init_y" default="0.0"/>
<arg name="init_z" default="1.0"/>

<arg name="max_vel" default="0.5"/>
<arg name="max_acc" default="1.0"/>

<arg name="resolution" default="0.15"/>
<arg name="poly_order" default="5"/>

  <node pkg="trr_global_planner" type="tr_node" name="tr_node" output="screen" required = "true">
      <remap from="~odometry"    to="/uav_odom_sim"    />
      <remap from="~map"         to="/cloud_pcd"   /> 
      <remap from="~joystick"    to="/joy"/> 
      <remap from="~trigger"     to="/time_optimal_traj_server/start_pose"/>

      <param name="write_path"  value="false" /> 
      <param name="read_path"   value="false" /> 

      <param name="optimization/poly_order"  value="$(arg poly_order)"     /> 
      <param name="optimization/min_order"   value="3.0"   /> 
      
      <param name="map/x_size"       value="$(arg map_size_x)"/>
      <param name="map/y_size"       value="$(arg map_size_y)"/>
      <param name="map/z_size"       value="$(arg map_size_z)"/>
      
      <param name="map/map_margin"   value="0.3" />
      <param name="map/resolution"   value="$(arg resolution)" />
      
      <param name="planning/rho_time"      value="10.0"/>
      <param name="planning/max_vel"       value="$(arg max_vel)" />
      <param name="planning/max_acc"       value="$(arg max_acc)" />
      <param name="planning/max_d_acc"     value="1.0" />
      <param name="planning/max_inf_iter"  value="10"  />
      <param name="planning/max_clu_iter"  value="5"  />

      <param name="z_cost_weight"  value="100.0"  />

      <param name="vis/vis_traj_width"     value="0.1  "/>
      <param name="your_file_path"         value="/home/zx/TRR_ws/catkin_ws/path_pts"/>
  </node>
</launch>
